@font-face {
  font-family: 'Mont-Light';
  src: url('../fonts/MONT-LIGHT.OTF'),
       url('../fonts/MONTSERRAT-LIGHT.TTF');
  font-weight: 300;
  display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Heavy';
  src: url('../fonts/MONT-HEAVY.OTF');
  font-weight: 900;
  display: swap;
  font-style: normal;
}
